.app {
  padding: 0 30px 20px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.app__header {
  display: flex;
  justify-content: space-between;
}

.app__heading {
  display: flex;
  align-items: center;
  font-size: 1.7em;
}

.app__logo {
  margin-top: 5px;
  margin-right: 10px;
  color: var(--text-primary);
}

.app__nav {
  display: flex;
  align-items: center;
}

.app__nav-list {
  display: flex;
  list-style: none;
}

.app__nav-item {
  margin-right: 15px;
  cursor: pointer;
}

.app__nav-item:hover {
  font-weight: bolder;
}

.app__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar__cont {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: var(--bg-secondary);
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body__text {
  text-align: center;
  color: var(--text-primary)
}

.body__text--greeting {
  font-size: 1.2em;
}

.body__text--heading {
  font-size: 3em;
  margin: 20px;
  max-width: 500px;
}

.body__text--heading .first-word {
  display: inline-flex;
  position: relative;
  line-height: 70px;
  overflow: hidden
}

.body__text--heading .first-word::after {
  content: "";
  position: absolute;
  left: -330px;
  top: 52px;
  height: 600px;
  width: 780px;
  border: 5px solid var(--bg-secondary);
  border-radius: 50%;
}

.body__text--details {
  font-size: 1.1em;
  max-width: 400px;
  line-height: 28px;
}

.body__text--highlight {
  font-weight: 500;
}

.btn {
  margin: 50px 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
}

.dark-theme .btn {
  background-color: #caf7fa;
  color: black;
}

/* Switch styles */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input+.slider {
  background-color: rgb(19, 18, 18);
  background-repeat: no-repeat;
  background-size: 18px;
  background-image: url(./images/moon.svg);
  background-position: 40px 7px;
}

input:checked+.slider {
  background-color: rgb(248, 219, 56);
  background-image: url(./images/sun.svg);
  background-position: 5px 7px;
}

input:focus+.slider {
  box-shadow: 0 0 5px red;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}